---
  import BaseLayout from '../layouts/BaseLayout.astro';
  import HeaderComponent from '../components/HeaderComponent.astro';
  const pageTitle = "Marcel Arndt Web-Developer";
---

<BaseLayout pageTitle={pageTitle}>
  <HeaderComponent />
  <h2>Mein großartiger Blog-Untertitel</h2>
  <img src="./assets/pictures/about-me.png">
</BaseLayout>
