---
import AboutMeHeadComponent from "./AboutMeHeadComponent.astro"
import AboutMeStatsComponent from "./AboutMeStatsComponent.astro"
import AboutMeAnalogyComponent from "./AboutMeAnalogyComponent.astro"
---
<section id="about_me" about-me-section>
    <div class="content-box">
        <AboutMeHeadComponent/>
        <AboutMeStatsComponent />
        <AboutMeAnalogyComponent />
    </div>
    <div class="curtain-wrapper">
        <div class="black-box" curtain-black ></div>
    </div>
</section>

<style lang="scss">
    @use "../styles/index.scss" as *;

    section{
        box-sizing: border-box;
        padding-top: 96px;
        width: 100%;
        position: relative;
        z-index: 200;
        padding-bottom: 24rem;
        anchor-name: --about-me-section-anchor;
    }

    .content-box{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
    }

    .white-box{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 50px;
        left: 0px;
        background-color: #fff;
        z-index: -1;
    }

    .curtain-wrapper{
        pointer-events: none;
        position: fixed;
        position-anchor: --about-me-section-anchor;
        top: anchor(bottom);
        left: anchor(left);
        width: min(1920px, 100%);
        height: 100%;
        overflow: hidden;
        z-index: 9999;
        transform: translateY(-100%);
        }

    .black-box{
        z-index: 222;
        position: absolute;
        bottom: calc(-100% - 300px);
        height: 100%;
        width: 100%;
        background-color: $grey-background;

        &::before{
        content: "";
        position: absolute;
        top: -24%;
        right: 0px;
        width: 200%;
        height: 100%;
        rotate: 6deg;
        background-color: $grey-background;;
    }
    }

</style>

<script>
    import { gsap } from "../lip/gsap";
    const blackCurtain = document.querySelectorAll("[curtain-black]");
    const aboutMeSection = document.querySelectorAll("[about-me-section]");

    let tlBlackCurtain = gsap.timeline({
        scrollTrigger: {
            trigger: aboutMeSection,
            start: '75% 50%',
            end: 'bottom 10%',
            scrub: 1, 
        }
    });

    tlBlackCurtain.to(blackCurtain,{
        y:"-=100vh"
    })


</script>