---
import portrait from "../../public/assets/pictures/about-me-portrait.webp"
import landscape from "../../public/assets/pictures/about-me-landscape.webp"
---

<div class="about-me-head-wrapper" about-me-head-section>
    <div class="about-me-head-text-wrapper">
        <strong about-me-head-text class="subline">Was musst du wissen</strong>
        <h2 about-me-head-text>Über Mich.</h2>
        <div about-me-self-portrait class="about-me-head-picture-wrapper" >
            <picture>
                <source media="(min-width: 1450px)" srcset={portrait.src}>
                <source media="(max-width: 1449px)" srcset={landscape.src}>
                <img  alt="" loading="lazy" src="./public/assets/pictures/about-me-portrait.webp">
            </picture>
        </div>

        <p about-me-head-text>Hi, ich bin Marcel Arndt.</p>
        <p about-me-head-text>Ein Web-Entwickler aus Bad Salzuflen. Dabei entwickle ich Software, die einen entscheidenden Unterschied macht: Sie schafft Unabhängigkeit.</p>
        <p about-me-head-text>Mein Fokus liegt auf Anwendungen, die keine versteckten Fesseln haben und keine Abhängigkeit von großen Plattformen erzwingen. Ich baue Lösungen, bei denen die volle Kontrolle über die Daten und die Infrastruktur beim Nutzer bleibt.</p>
        <p about-me-head-text>Die Kombination aus meinem gestalterischen Auge und meiner technischen Neugier erlaubt es mir, performante und skalierbare Anwendungen zu schaffen, die nicht nur funktionieren, sondern präzise auf das Ziel zugeschnitten sind.<p/>
        <a about-me-head-text class="button" href="/#skills">Mein Tech-Stack</a>
    </div>

</div>

<style lang="scss">
    @use "../styles/index.scss" as *;

    .about-me-head-wrapper{
        width: 100%;
        padding: 0px $inner-padding;
        display: flex;
        justify-content: space-between;
        position: relative;
        box-sizing: border-box;
        padding-bottom: clamp(3rem, 14vw, 15rem);
    }

    .about-me-head-text-wrapper{
        width: 100%;
        

        p{
            color: $dark-red;
            margin-bottom: 1.5rem;
            max-width: clamp(30ch , 46vw, 60ch);
        }
        
        @media screen and (max-width:1450px) {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            max-width: 100%;
            p{
                max-width: 50ch;
                text-align: center;
            }
        }
    }

    .about-me-head-picture-wrapper{
        position: absolute;
        right: $inner-padding;
        top: 0px;

        img{
            max-width: 520px;
            box-shadow: 2px 4px 8px rgba(0,0,0,0.25);
            border-radius: 8px;
        }

        @media screen and (max-width:1449px) {
            position: static;
            margin: 1.5rem 0px;
            width: 100%;
            height: 460px;

            img{
                object-position: center;
                object-fit: cover;
                height: 100%;
                width: 100%;
                max-width: none;

            }
        }
    }

</style>

<script>
    import { gsap } from "../lip/gsap";
    const aboutMeHeadSectionSection =  document.querySelector<HTMLElement>('[about-me-head-section]');
    const selfPortrait = document.querySelector<HTMLElement>('[about-me-self-portrait]');
    const textArray:HTMLElement[] = gsap.utils.toArray(document.querySelectorAll<HTMLElement>('[about-me-head-text]'));
    const subline = textArray[0];
    const headline = textArray[1];
    const bodyText = textArray.slice(2);
        
        gsap.set(selfPortrait,{
            opacity:0,
            pointerEvents: "none",
        });

        const tlHeadSection = gsap.timeline({
            scrollTrigger: {
                trigger: aboutMeHeadSectionSection,
                start: 'top+=100p 75%',
                end: 'bottom-=620 55%',
                scrub: 1,
            }
        });

        tlHeadSection
        .from(subline, { opacity: 0, y: 50 })
        .from(headline, { opacity: 0, y: 50 })
        .to(selfPortrait, {
            opacity: 1,
            onComplete: () => { gsap.set(selfPortrait, { pointerEvents: "auto" }) }
        })
        .from(bodyText, { opacity: 0, y: 50, stagger: 0.25 }, "+=0.1")

</script>