---
import ContactForm from "./ContactFormComponent.astro"
---
<section id="contact">

    <div class="text-aera">
    <div>
        <p>Komm mit mir in</p>
        <h2>Kontakt</h2>
        <p>Kontaktiere mich gern, wenn du Unterstützung bei deinem Webprojekt brauchst oder Fragen hast.</br></br>Ich freue mich auf deine Nachricht.</p>
   
            <div class="box-gird">

                <a class="info-box"  href="mailto:info@arndt-marcel.de">
                    <div class="icon">
                        <img loading="lazy" src="./assets/icons/ui/mail.svg" alt="">
                    </div>
                    <div>
                        <p>Sende eine E-Mail an</p>
                        <p class="impotent">info@arndt-macrel.de</p>
                    </div>
                </a>

                <a href="tel:017663626861" class="info-box">
                    <div class="icon">
                        <img loading="lazy" src="./assets/icons/ui/phone.svg" alt="">
                    </div>
                    <div>
                        <p>Oder ruf an unter</p>
                        <p class="impotent">(0) 176 636 268 61</p>
                    </div>
                </a>

                <a href="https://github.com/MarcelArndt" target="_blank" class="info-box">
                    <div class="icon">
                        <img loading="lazy" src="./assets/icons/ui/github.svg" alt="">
                    </div>
                    <div>
                        <p>Finde mich auf Github</p>
                        <p class="impotent">github.com</p>
                    </div>
                </a>

                <a href="https://linkedin.com/in/profil-marcel-arndt" target="_blank" class="info-box">
                    <div class="icon">
                        <img loading="lazy" src="./assets/icons/ui/linkedin.svg" alt="">
                    </div>
                    <div>
                        <p>Folge mir auf LinkedIn</p>
                        <p class="impotent">linkedin.com</p>
                    </div>
                </a>
            </div>
    </div>


    </div>

    <div class="from-aera">
        <ContactForm />
    </div>


</section>

<script>

    import { gsap } from "../lip/gsap";

    const inofBoxArray:HTMLElement[] = gsap.utils.toArray(".info-box");

    inofBoxArray.forEach((component:HTMLElement) => {
        component.addEventListener('mouseenter', () => {
            
            const tl = gsap.timeline({});
            tl.to(component, {
                x:4,
                y:-4,
                ease: "power1.out",
                duration: 0.25,
            }).to(component,{
                x:0,
                y:0,
                ease: "power1.out",
                duration: 0.25,
            },"-=0.125");
        });
    });

</script>

<style lang="scss">
    @use "../styles/index.scss" as *;

    section{
        box-sizing: border-box;
        padding: 6rem $inner-padding;
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 9rem;

        @media screen and (max-width: 1700px){
            flex-direction: column;
        }
    }

    .text-aera{
        width: 50%;

        @media screen and (max-width: 1700px){
            width: 100%;
        }
    }

    .from-aera{
        width: 50%;
        @media screen and (max-width: 1700px){
            width: 100%;
            display: flex;
            justify-content: center
        }
    }

    p{
        color: $dark-red;
        max-width: 40ch;
    }

  .box-gird {
        box-sizing: border-box;
        padding: 1rem 0;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 1rem;
        margin-bottom: 3rem;



    //  @media screen and (max-width: 760px) {
     //     grid-template-columns: 1fr;
      //    justify-items: center;
      //}
  }



    .info-box{
        cursor: pointer;
        width: 320px;
        box-sizing: border-box;
        padding: 0.75rem 1.25rem 0.75rem 1.25rem;
        background-color: $box-grey-100;
        display: flex;
        align-items: center;
        justify-content: start;

        border-radius: 4px;
        gap: clamp(0.5rem, 4vw, 1rem);
        box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
        border: 1px solid $box-grey-200;
        text-decoration: none;

        .icon{
            width: clamp(32px, 4vw, 56px);
            height: clamp(32px, 4vw, 56px);
            max-height: clamp(32px, 4vw, 56px);
            aspect-ratio:  1 / 1;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $box-grey-300;
            border-radius: 4px;
            border: 1px solid $box-grey-400;
            img{
                height: 80%;
                max-height: 42px;
                object-fit: contain;

            }
        }

        p{
            color: $dark-red;
            font-size: 1.125rem;
            line-height: 1.75rem;
            font-size: clamp(1rem, 4vw, 1.125rem);
            opacity: 1;
            transition: width 0.25s ease-in-out, opacity 1s ease-in-out;
        }

        .impotent{
            color: $main-color;
            transition: color 0.125s ease-in-out;
        }

        &:hover {
            .impotent{
                color: $button-color-hover;
            }
        }

        @media screen and (max-width:806px) {
            width: clamp(32px, 16vw, 80px);
            height: clamp(32px, 16vw, 80px);
            gap: 0px;
            justify-content: center;

            p{
                width: 0px;
                overflow: hidden;
                opacity: 0;
            }
        }
    }
</style>
