<h2>Impressum</h2>

<p>Marcel Arndt<br />

Wilhelm-Raabe-Stra&szlig;e 13<br />
32105 Bad Salzuflen</p>

<h4>Kontakt</h4>
<p>Telefon: <a href="tel:017663626861">0 176 636 268 61</a><br />
E-Mail: <a href="mailto:info@arndt-marcel.de">info@arndt-marcel.de</a></p>

<h4>Verbraucher&shy;streit&shy;beilegung / Universal&shy;schlichtungs&shy;stelle</h4>
<p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>

<p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>